<% @body_class = 'two-col' %>

<% content_for :sidebar do %>
  <%= hook :homepage_sidebar_navigation do %>
    <% if "products" == @current_controller && @taxon %>
      <%= render "shared/filters" %>
    <% else %>
      <%= render "shared/taxonomies" %>
    <% end %>
  <% end %>
<% end %>

<fieldset id='shipping_method'>
  <legend><%= t("shipping_method") %></legend>
  <div class="inner">
    <div id="methods">
      <p class="fieldradios">
        <% @order.rate_hash.each do |shipping_method| %>
          <label>
            <%= radio_button(:order, :shipping_method_id, shipping_method[:id]) %>
            <%= shipping_method[:name] %> <%= number_to_currency shipping_method[:cost] %>
          </label><br /><br />
        <% end %>
      </p>
    </div>
    <% if Spree::Config[:shipping_instructions] && @order.rate_hash.present? %>
      <p id="minstrs">
        <%= form.label :special_instructions, t("shipping_instructions") %><br />
        <%= form.text_area :special_instructions, :cols => 40, :rows => 7 %>
      </p>
    <% end %>
  </div>
</fieldset>

<div class="delivery">
  <input type="submit" class="button" value="<%=t("save_and_continue") %>"/>
</div>
