<% @body_class = 'two-col' %>



<%= form_for @message, :url => message_path do |form| %>
  <fieldset class="fields">


    <div class="field">
      <%= form.label :email %>
      <%= form.text_field :email %>
    </div>


    <div class="field">
      <%= form.label :body %>
      <%= form.text_area :body %>
    </div>
  </fieldset>

  <fieldset class="actions">
    <%= form.submit t('message.new.send') %>
  </fieldset>
<% end %>


