<p>
  <%="#{address.firstname} #{address.lastname}"%> <b> <%="#{address.phone}"%> </b>   <br />
  <%= address.address1 %> <%= ", #{address.address2}" unless address.address2.blank? %>
  <%= ", #{address.city}, #{address.zipcode}, #{address.country.name}" %>
  <br /><br />
  <%= @order.shipping_method.name %>
  <br /><br />
  <%= @order.email %>
  <br /><br />
  <%= address.comments %>
</p>
