<%
  paginated_products = @searcher.products if params.key?(:keywords)
  paginated_products ||= products
%>
<% if products.empty? %>
  <%= t(:no_products_found) %>
<% elsif params.key?(:keywords) %>
  <h3><%= t(:search_results, :keywords => h(params[:keywords])) %></h3>
<% end %>
 
<% if products.any? %>

<ul class="product-listing">
  <% products.each do |product| %>
    <% if Spree::Config[:show_zero_stock_products] || product.has_stock? %>
    
    <li id="product_<%= product.id %>">
      <div id="product-name"><%= link_to raw(product.name), product %></div>	
      <div id="product-picture">  <%= link_to small_image(product), product %> </div>
        
        <div id="product-info">
  		  <%= hook :product_description do %>
            <%= product.meta_description rescue t("product_has_no_description") %>
           <% end %>
        </div>
      <p class="cena_product"><%= t(:price) %>: <br> <%= link_to product_price(product),product %>
      	
      </p>
      <div id="podrobnee">
      	
      	<%= button_to t("more"), product, :class => "large primary", :method => :get %>
      	
     
          </div>
        
      </li>
    <% end %>
  <% end %>
</ul>
<% end %>
 
<hr class="space" />
 
<% if paginated_products.respond_to?(:total_pages)
      params.delete(:search)
      params.delete(:taxon)
      
%><%= will_paginate(paginated_products,
                    :previous_label => "&#171; #{t('previous')}",
                    :next_label => "#{t('next')} &#187;") %>
<% end %>
 
<hr class="space" />
