<%
  paginated_products = @searcher.products if params.key?(:keywords)
  paginated_products ||= products
%>
<% if products.empty? %>
  <%= t(:no_products_found) %>
<% elsif params.key?(:keywords) %>
  <h3><%= t(:search_results, :keywords => h(params[:keywords])) %></h3>
<% end %>
 
<% if products.any? %>

<ul class="product-listing">
  <% products.each do |product| %>
    <% if Spree::Config[:show_zero_stock_products] || product.has_stock? %>
    
    <li id="product_<%= product.id %>">
      <div id="product-name"><%= link_to raw(product.name), product %></div>	
      <div id="product-picture">  <%= link_to small_image(product), product %> </div>
        
        <div id="product-info">
  		  <%= hook :product_description do %>
            <%= product.meta_description rescue t("product_has_no_description") %>
           <% end %>
        </div>

      	

      <div id="podrobnee">
      	<%= link_to t("more"), product, :class => 'button' %>
     
      </div>
        <% @product = @product ||= product %>
<%= form_for :order, :url => populate_orders_url do |f| %>
<%= hook :inside_product_cart_form do %>

<div id="forma_korz" align="left">
  <% if product_price(product) %>
    <%= hook :product_price do %>

        <span class="price_product">
          <%= t(:price) %>
          <br />
          <%= product_price(product) %>
        </span>

    <% end %>
  <% end %>


  <% if product.has_stock? || Spree::Config[:allow_backorders] %>
    <%= text_field_tag (product.has_variants? ? :quantity : "variants[#{product.master.id}]"),
      1, :class => "title", :size => 3, :style => 'display: none' %>
    &nbsp;  <br /><br />
     <div id="add_to_cart">
    <button type='submit' class='buy_it'>
      <%= image_tag('/images/add-to-cart.png') + t('add_to_cart') %>
    </button>
      </div>
  <% else %>
    <%= content_tag('strong', t('out_of_stock')) %>
  <% end %>

<% end %>
<% end %>


</div>
      </li>
    <% end %>
  <% end %>
</ul>
<% end %>
 
<hr class="space" />
 
<% if paginated_products.respond_to?(:total_pages)
      params.delete(:search)
      params.delete(:taxon)
      
%><%= will_paginate(paginated_products,
                    :previous_label => "&#171; #{t('previous')}",
                    :next_label => "#{t('next')} &#187;") %>
<% end %>
 
<hr class="space" />
